<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clientId</key>
	<string>dWYzKTyNGuyMsiET3oinXYothGFIcsxml7RkJy67</string>
	<key>clientSecret</key>
	<string>icP7o1oHFWO7H9vYnr5h82kfeBuyW2NboRT4NdBB8V8NFnocnGaVKAsIV7hyVS42ZFipSH85qqjzHJtuFhWNfHklGXj6T15mOmpF8ya5beBzX8W3FiI4z56HkbJAudTP</string>
</dict>
</plist>
